:root {
    --color-red: "#ED5565";
    --color-orange: "#FC6E51";
    --color-yellow: "#FFCE54";
    --color-deepyellow: "#FFAA11";
    --color-grass: "#A0D468";
    --color-green: "#48CFAD";
    --color-aqua: "#4FC1E9";
    --color-blue: "#5D9CEC";
    --color-lavender: "#AC92EC";
    --color-pink: "#EC87C0";
    --color-white: "#FFFFFF";
    --color-lightgray: "#F5F7FA";
    --color-gray: "#CCD1D9";
    --color-darkgray: "#656D78";
    --color-black: "#212C33";
};