@import "./configs/_variants.scss";
@import "./configs/_reset.scss";
@import "./configs/_fonts.scss";
@import "./components/header.scss";
@import "./components/form.scss";
@import "./screens/createZweet.scss";

::selection {
    color: $white;
    background-color: ($deepyellow + D4);
}

body {
    font-family: $main-font !important;
}

main {
    margin-left: 250px;
    padding: 12px 18px;
    @media screen and (max-width: 800px) {
        margin-left: 150px;
    }
}

a {
    color: $blue;
    text-decoration: none;
}

h1 {
    font-size: 30px;
}